:root{
    --darkblue:#1e293b;
    --gray: #64748b;
    --blue:#60A5fa;
    --white:#f8fafc;
    --lightgray:#CBD5E1;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    line-height: 120%;
}

h1,h2,h3,h4,h5{
    margin-bottom: 10px;
}
p{
    margin-bottom: 20px;
    color:#64748B;
    font-size: 18px;
    line-height: 150%;
}
h1{
    font-size: 56px;

}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size:20px;
}


a{
    text-decoration:none;
}

.btn{
    padding:15px 30px;
    border-radius:100px;
    display:inline-block;
    color:var(--white);
    border:1px solid var(--white);
}
.btn:hover{
    background:#000;
}
.btn1 {
    background: var(--blue);
     border:1px solid var(--blue);
}
.btn2 {
    background: transparent;
     border:1px solid var(--white);
}
.btn3{
    background: transparent;
     border:1px solid var(--lightgray);
     color: var(--blue);
}
.btn4{
    background: transparent;
     color:var(--blue);
     border:1px solid transparent;
     padding: 0;
}
.btn5{
    background: var(--white);
     color:var(--blue);
     border:1px solid var(--white);
     padding: 0;
}
body {
}

.two-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 5px;
    width: 100%;
}


.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

    section .container,
    footer .container{
        padding: 80px 20px;

    }


/* header */
header .container {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 9999;
    justify-content: space-between;
    gap: 40px;
    padding:20px;
    width: 100%;
}

header .container img {
    width: auto;
}

/* hero */
section#hero {
    background: url(assets/hero-sec.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
    text-align: center;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}
section#hero p {
    color: var(--white);
}

section#hero .container {
    max-width: 755px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* about */
section#about{
    background: var(--white);
}
section#about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}


/* features */
#features > .container >  h2,#features > .container > p {
    text-align: center;
}

#features > .container > p {
    max-width: 680px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.featured {
    padding: 100px 80px;
    text-align: center;
    margin-bottom:20px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
/* .featured::before{
    content:'';
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
} */
.featuredItem-1{
    background: url(assets/featured1.jpg);

}
.featuredItem-2{
    background: url(assets/featured2.jpg);

}
.featuredItem-3{
    background: url(assets/featured3.jpg);
   
}
.featured p,.featured a {
    display: none;
}
.featured p{
    max-width: 500px ;
    
}
.featured h4{
    max-width: 280px ;
    
}

.featured:hover{
    align-items: flex-start;
}

.featured:hover h4{
 text-align: left;
}
.featured:hover p,.featured:hover a {
    display: block;
    text-align: left;
}

.featured ,.featured * {
    transition: all .3s ease;
    color: var(--white);
}

/* benefits */
section#benefits{
    background-color: #fff;
}

#benefits > .container .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    
}
#benefits > .container > h2,#benefits > .container > p {
    text-align: center;
}

#benefits > .container > p {
    max-width:517px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
#benefits > .container > h2 {
    max-width:517px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
}               

        /* icon list */
        .iconText-box {
            display: flex;
            gap: 30px;
            align-items: flex-start;
        }
        .iconText-box_content .btn:hover{
            background:transparent;
        }
        .iconText-box img{
            max-width: 65px;
        }
        .icon-list{
            display: flex;
        flex-direction: column;
            gap: 40px;
        }


/*  */
        
#news > .container > p{
    max-width: 500px ;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
            
    }
#news  > .container h2{
    max-width: 480px ;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

#news .cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#news .taxonomy {
    display: flex;
    gap: 20px;
    align-items: center;
}

#news p.ribbon {
    padding: 10px 15px;
    text-transform: uppercase;
    color: var(--blue);
    font-size: 12px;
    background: var(--white);
    border-radius: 100px;
    margin: 0;
}


#news p.date {
    margin: 0;
    font-size: 14px;
}
#news .container .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#news img.article-img {
    height: 100%;
    object-fit: cover;
}
.main-article{

}

#news  .list-article{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

#news .list-article .cards{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}


#news .list-article .cards h4{
    font-size: 20px;
}

#news .cards > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* cta banner */

section#cta-banner .container {
    max-width: 1200px;
    margin: auto;
    background: var(--blue);
    display: grid;
    grid-template-columns: 1fr .25fr;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 60px;
}
section#cta-banner .container p{
    margin-bottom: 0;
}

#cta-banner .btn5{
min-width: 140px;
padding: 12px 24px;
}

/* footer */
footer{
    background-color: var(--darkblue);
}


.all_links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.all_links h4 {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}

.all_links a {
    font-size: 16px;
    color: rgba(255,255,255,0.4);
    display: block;
    padding: 5px 0;
    text-transform: capitalize;
}

.consent{
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

input[type="email"] {
    padding: 15px;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: 1px solid rgba(255,255,255,0.4) !important;
    color:#fff;
}

input[type="submit"] {
    padding: 15px;
    font-size: 16px;
    color:#fff;
    background: transparent;
}
.fields {
    display: flex;
}
input[type="submit"] {
    padding: 15px;
    font-size: 16px;
    background: transparent;
    background: var(--blue);
    border: 1px solid var(--blue);
    color: #fff;
}
footer .container >  img{
    max-width:130px;
    padding-bottom:40px;
}
.consent{
    padding-top:20px;
}
.divider{
    height:1px;
    width:100%;
    background:rgba(255,255,255,0.5);
    margin-top:40px;
    margin-bottom:40px
}

footer .row{
    display:flex;
    justify-content:space-between;
   
}



@media (max-width:768px){
    #news .list-article .cards {
        grid-template-columns: 1fr;
    }
    section#about .row {grid-template-columns: 1fr;
    }

#benefits > .container .row {
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
}
#news .container .row {
                
} 


#news .container .row{
    grid-template-columns: 1fr ;
}

h1 {
    font-size: 42px;
}

#hero .two-buttons {
    flex-direction: column;
}

.two-buttons .btn {
    width: 100%;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}
.featured{
    padding:40px;
}

#benefits  > .container {padding-top: 0px;}

#benefits > .container > h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#benefits > .container > p {
    margin-bottom: 0;
}

#news .container {
    padding-top: 0 !important;
}

#news .container .row {
    grid-template-columns: 1fr;
}

#news .container .row h4 {
    font-size: 18px;
}

section#cta-banner .container {
    grid-template-columns: 1fr;
}

.all_links {
    grid-template-columns: 1fr 1fr;
}


input[type="email"] {
    width: 100% !important;
}

input[type="submit"] {
    width: 100% !IMPORTANT;
}

.fields {
    flex-direction: column;
    gap: 10px;
}


}

